.b {
	color: green;
	text-align: center;
}

.jombroton img {
	width: 220px;
	border: 5px solid #666; 
}

.about hr {
	width: 250px;
	border-top: 4px solid #666;
}

.portofolio hr {
	width: 250px;
	border-top: 4px solid #666;
}

.head-jombo {
	padding: 40px;
}

.footer {
	padding: 40px;
}

.porto {
	padding-left: 46px;
	text-align: center;
}